// Colors
// ============================================

  $color-border: #e5e5e5;
  $color-chart-bar: #999;
  $color-link: #ff5155;
  $color-button: #ff5155;
  $color-text-body: #444444;
  $color-text-light: #999999;

// Sizes
// ============================================

  $border-radius: 4px;
  $border-size: 2px;

// Breakpoints
// ============================================

  $bp-small: 320 / 16 * 1rem;
  $bp-small-3: 480 / 16 * 1rem;
  $bp-medium: 768 / 16 * 1rem;
  $bp-large: 1024 / 16 * 1rem;

// Type: Non-mobile
// Gridlover: 14 / 1.5 / 1.618
// ============================================

  $base-font-size: 0.875rem;
  $base-line-height: 1.3125rem;
  $measure: 760px;

  $h1-font-size: 3.6875rem;
  $h1-line: 1.3125rem;
  $h1-lines: 3;
  $h1-line-height: $h1-line * $h1-lines;
  $h1-margin-top: 2 * $h1-line;
  $h1-margin-bottom: 1 * $h1-line;

  $h2-font-size: 2.3125rem;
  $h2-line: 1.3125rem;
  $h2-lines: 2;
  $h2-line-height: $h2-line * $h2-lines;
  $h2-margin-top: 2 * $h2-line;
  $h2-margin-bottom: 1 * $h2-line;

  $h3-font-size: 1.4375rem;
  $h3-line: 1.3125rem;
  $h3-lines: 2;
  $h3-line-height: $h3-line * $h3-lines;
  $h3-margin-top: 1 * $h3-line;
  $h3-margin-bottom: 1 * $h3-line;

  $h4-font-size: 0.875rem;
  $h4-line: 1.3125rem;
  $h4-lines: 1;
  $h4-line-height: $h4-line * $h4-lines;
  $h4-margin-top: 1 * $h4-line;
  $h4-margin-bottom: 1 * $h4-line;

// Type: Mobile
// Gridlover: 14 / 1.5 / 1.414
// ============================================

  $h1-mobile-font-size: 2.5rem;
  $h1-mobile-line: 1.3125rem;
  $h1-mobile-lines: 2;
  $h1-mobile-line-height: $h1-mobile-line * $h1-mobile-lines;
  $h1-mobile-margin-top: 2 * $h1-mobile-line;
  $h1-mobile-margin-bottom: 1 * $h1-mobile-line;

  $h2-mobile-font-size: 1.75rem;
  $h2-mobile-line: 1.3125rem;
  $h2-mobile-lines: 2;
  $h2-mobile-line-height: $h2-mobile-line * $h2-mobile-lines;
  $h2-mobile-margin-top: 2 * $h2-mobile-line;
  $h2-mobile-margin-bottom: 1 * $h2-mobile-line;

  $h3-mobile-font-size: 1.25rem;
  $h3-mobile-line: 1.3125rem;
  $h3-mobile-lines: 1;
  $h3-mobile-line-height: $h3-mobile-line * $h3-mobile-lines;
  $h3-mobile-margin-top: 1 * $h3-mobile-line;
  $h3-mobile-margin-bottom: 1 * $h3-mobile-line;

  $h4-mobile-font-size: 0.875rem;
  $h4-mobile-line: 1.3125rem;
  $h4-mobile-lines: 1;
  $h4-mobile-line-height: $h4-mobile-line * $h4-mobile-lines;
  $h4-mobile-margin-top: 1 * $h4-mobile-line;
  $h4-mobile-margin-bottom: 1 * $h4-mobile-line;