// bower:scss
// endbower


// Mixins
// ============================================

  %clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  %strech {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

// Variables
// ============================================

  $color-border: #CCC;
  $color-chart-bar: #999;
  $color-button: #999;

  $border-radius: 3px;

// Layout: Global
// ============================================

  body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
  }

  .layout-constrain {
    margin: 0 1em;
  }

  img { max-width: 100%; }

// Browse Happy
// ============================================

  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

// Buttons
// ============================================

  .btn {
    display: block;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid $color-button;
    color: $color-button;
    border-radius: $border-radius;
  }

  .btn--lg {
    padding: 1em;
  }

  .btn--primary {
    background-color: $color-button;
    color: #FFF;
  }

// Charts
// ============================================

  .chart--bar {
    border: 1px solid $color-border;
    padding: 0.2em;
    margin-bottom: 1em;
  }

  .chart__bar {
    background-color: $color-chart-bar;
    height: 1em;
    max-width: 100%;
  }

  .chart__total { margin-bottom: 0; }

  .chart__percentage {
    font-weight: normal;
    margin-top: 0.5em;
  }

// Sections
// ============================================

  .section {
    padding: 1em 0;
    border-bottom: 1px solid $color-border;
  }

  .section--bg {
    position: relative;
    padding-top: 56.25%;
    padding-bottom: 0;
  }

  .section__bg {
    @extend %strech;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50% 50%;
  }

  .section__content {
    @extend %strech;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section--team {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 0;
    overflow: hidden;

    // VH issue in iOS https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
      height: 1024px;
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
      height: 1024px;
    }
    @media screen and (device-aspect-ratio: 40/71) {
      height: 500px;
    }
  }
// Section: Team
// ============================================

  .section--team {
    position: relative;
  }

// Section: Team Members
// ============================================

  .team-members__team-member-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
  }

  .team-member {
    margin: 0 0 1em;
    border-bottom: 1px dotted $color-border;

    &:last-child { border-bottom: 0; }
  }

  .team-member__image {
    border-radius: $border-radius;
    border: 1px solid $color-border;
  }


