// bower:scss
// endbower

@import 'variables';
@import 'mixins';
@import 'animations';

// Layout: Global
// ============================================

  body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }

  .layout-constrain {
    margin: 0 1em;
  }

  img { max-width: 100%; }

// Browse Happy
// ============================================

  .browsehappy {
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

// Typography
// ============================================

  h1 {
    font-size: $h1-mobile-font-size;
    line-height: $h1-mobile-line-height;
    margin: $h1-mobile-margin-top 0 $h1-mobile-margin-bottom;

    @media only screen and (min-width: $bp-medium) {
      font-size: $h1-font-size;
      line-height: $h1-line-height;
      margin: $h1-margin-top 0 $h1-margin-bottom;
    }
  }

  h2 {
    font-size: $h2-mobile-font-size;
    line-height: $h2-mobile-line-height;
    margin: $h2-mobile-margin-top 0 $h2-mobile-margin-bottom;

    @media only screen and (min-width: $bp-medium) {
      font-size: $h2-font-size;
      line-height: $h2-line-height;
      margin: $h2-margin-top 0 $h2-margin-bottom;
    }
  }

  h3 {
    font-size: $h3-mobile-font-size;
    line-height: $h3-mobile-line-height;
    margin: $h3-mobile-margin-top 0 $h3-mobile-margin-bottom;

    @media only screen and (min-width: $bp-medium) {
      font-size: $h3-font-size;
      line-height: $h3-line-height;
      margin: $h3-margin-top 0 $h3-margin-bottom;
    }
  }

  h4 {
    font-size: $h4-mobile-font-size;
    line-height: $h4-mobile-line-height;
    margin: $h4-mobile-margin-top 0 $h4-mobile-margin-bottom;

    @media only screen and (min-width: $bp-medium) {
      font-size: $h4-font-size;
      line-height: $h4-line-height;
      margin: $h4-margin-top 0 $h4-margin-bottom;
    }
  }

  p { margin: $base-line-height 0; }

  a { color: $color-link }

// Buttons
// ============================================

  .btn,
  a.btn {
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 1em;
    border: $border-size solid $color-button;
    color: $color-button;
    border-radius: $border-radius;
    text-decoration: none;
    padding: $base-line-height / 2 $base-line-height * 2;
    transition: background-color 400ms ease-out, font-size 400ms ease-out, line-height 400ms ease-out, padding 400ms ease-out;

    &:hover { background-color: lighten($color-button,30%); }
    &:active { background-color: lighten($color-button,20%); }
  }

  .btn--lg {
    font-size: $h3-mobile-font-size;
    line-height: $h3-mobile-line-height;
    margin: $h3-mobile-margin-top 0 $h3-mobile-margin-bottom;
    padding: $h3-mobile-line / 2 $h3-mobile-line;

    @media only screen and (min-width: $bp-medium) {
      font-size: $h3-font-size;
      line-height: $h3-line-height;
      margin: $h3-margin-top 0 $h3-margin-bottom;
      padding: $h3-line / 2 $h3-line * 3;
    }
  }

  .btn--primary,
  a.btn--primary {
    background-color: $color-button;
    color: #FFF;
    border-color: transparent;

    &:hover { background-color: rgba($color-button,0.5); }
    &:active { background-color: rgba(darken($color-button, 20%),0.5); }
  }

// Charts
// ============================================

  .chart--bar {
    border: $border-size solid $color-border;
    padding: 0.2em;
    margin-bottom: 1em;
  }

  .chart__bar {
    background-color: $color-chart-bar;
    height: 1em;
    max-width: 100%;
  }

  .chart__total { margin-bottom: 0; }

  .chart__percentage {
    font-weight: normal;
    margin-top: 0.5em;
  }

// Sections
// ============================================

  .section {
    border-bottom: $border-size solid $color-border;
  }

  .section--bg { position: relative; }

  .section__bg {
    @extend %strech;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50% 50%;

    &:after {
      content: '';
      @extend %strech;
      background-color: #FFF;
      opacity: 0;
      animation: fadeInHalf 400ms 1200ms 1 forwards;
    }
  }

  .section__content {
    @extend %strech;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section--team {
    height: 400px;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 0;
    overflow: hidden;

    // VH issue in iOS https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
      height: 1024px;
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
      height: 1024px;
    }
    @media screen and (device-aspect-ratio: 40/71) {
      height: 500px;
    }
  }
// Section: Team
// ============================================

  .section--team {
    position: relative;
  }

// Section: Team Members
// ============================================

  .team-members__team-member-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
  }

  .team-member {
    margin: 0 0 1em;
    border-bottom: $border-size dotted $color-border;

    &:last-child { border-bottom: 0; }
  }

  .team-member__image {
    border-radius: $border-radius;
  }


