// bower:scss
// endbower


// Mixins
// ============================================

  .clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

// Layout: Global
// ============================================

  body {

  }

// Browse Happy
// ============================================

  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

// Team Members
// ============================================

  .team-members__team-member-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
  }

  .team-member {
    margin: 0 0 1em;
  }
