<section class="team jumbotron">
  <header>
    <h1 class="team__title">{{ main.team.teamName }}</h1>
  </header>
  <p class="team__description lead">
    {{ main.team.teamDescription }}
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="{{ main.team.teamCta.href }}">{{ main.team.teamCta.text }} <span class="glyphicon glyphicon-ok"></span></a></p>
</section>

<section class="team-progress">
  <header>
    <h1 class="team-progress__title">{{ main.team.progressTitle }}</h1>
  </header>
  <p class="team-progress__total">
    {{ main.team.progressTotal }}
  </p>
  <p class="team-progress__percentage">
    {{ main.team.progressPercentage }}
  </p>
</section>

<section class="teamMembers">
  <header>
    <h1 class="teamMembers__title">{{ main.team.membersTitle }}</h1>
  </header>
  <ul class="teamMembers__teamMember-list">
    <li class="teamMember" ng-repeat="teamMember in main.team.teamMembers">
      <img src="{{ teamMember.image }}" alt="" class="teamMember__image">
      <h3 class="teamMember__name">{{ teamMember.name }}</h3>
      <p class="teamMember__description">{{ teamMember.description }}</p>
      <figure class="teamMember__chart">
        <div class="chart" style="width: {{ teamMember.percentage }}"></div>
        <figcaption>
          <span class="chart__percentage">{{ teamMember.percentage }}</span>
          <span class="chart__total">{{ teamMember.total }}</span>
        </figcaption>
      </figure>
      <a href="{{ teamMember.cta.href }}" class="btn btn-primary">{{ main.team.teamCta.text }}</a>
    </li>
  </ul>
</section>
