<section class="team jumbotron">
  <header>
    <h1 class="team__title">{{ team.teamName }}</h1>
  </header>
  <p class="team__description lead">
    {{ team.teamDescription }}
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="{{ team.teamCta.href }}">{{ team.teamCta.text }} <span class="glyphicon glyphicon-ok"></span></a></p>
</section>

<section class="team-progress">
  <header>
    <h1 class="team-progress__title">{{ team.progressTitle }}</h1>
  </header>
  <p class="team-progress__total">
    {{ team.progressTotal }}
  </p>
  <p class="team-progress__percentage">
    {{ team.progressPercentage }}
  </p>
</section>

<section class="team-members">
  <header>
    <h1 class="team-members__title">{{ team.membersTitle }}</h1>
  </header>
  <ul>
    <li class="member" ng-repeat="member in team.members">
      <img src="{{ member.image }}" alt="" class="member__image">
      <h3 class="member__name">{{ member.name }}</h3>
      <p class="member__description">{{ member.description }}</p>
      <figure class="member__chart">
        <div class="chart" style="width: {{ member.percentage }}"></div>
        <figcaption>
          <span class="chart__percentage">{{ member.percentage }}</span>
          <span class="chart__total">{{ member.total }}</span>
        </figcaption>
      </figure>
      <a href="{{ member.cta.href }}" class="btn btn-primary">{{ member.cta.text }}</a>
    </li>
  </ul>
</section>
